# Module 2 Homework - Pandas
Using a dataset from _Wine Spectator_, a wine magazine, we will practice data transformation, grouping, and sorting.

Created by Jimmy Valdez (017352270)  
Last updated: 09/13/2025

In [1]:
csvurl="https://gist.githubusercontent.com/clairehq/" + \
        "79acab35be50eaf1c383948ed3fd1129/raw/407a02139ae1e134992b90b4b2b8c329b3d73a6a/winemag-data-130k-v2.csv"
import pandas as pd
wine = pd.read_csv(csvurl)

**Data cleaning**  
Notice that the first column is redundant. Part of data analysis is cleaning and removing redundancy. How would you drop the redundant column inplace, that is overwrite the dataframe.

#### Question 1: ####  
What is the mean of the points column?

In [3]:
wine['points'].mean()

np.float64(88.43403716087269)

#### Question 2: ####  
How many countries are present in this dataset? (Only count each country once)

In [2]:
wine['country'].unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

#### Question 3: ####
How many times does each country appeared in this dataset? Show each country and the corresponding count (show counts in ascending order)

In [3]:
wine['country'].value_counts(ascending=True)

country
Bosnia and Herzegovina        1
Slovakia                      1
Armenia                       1
Luxembourg                    4
India                         4
Switzerland                   4
Ukraine                       5
Czech Republic                6
Macedonia                     6
Cyprus                        6
Serbia                        7
Peru                          8
Morocco                      11
Lebanon                      20
Moldova                      30
Mexico                       31
Brazil                       31
England                      36
Georgia                      37
Slovenia                     39
Turkey                       43
Croatia                      44
Hungary                      61
Uruguay                      61
Romania                      67
Bulgaria                     68
Canada                      108
Greece                      242
Israel                      259
New Zealand                 733
South Africa                737
Germany                    1051
Australia                  1177
Austria                    1635
Argentina                  1907
Chile                      2258
Portugal                   2963
Spain                      3409
Italy                     10005
France                    11174
US                        27177
Name: count, dtype: int64

#### Question 4: ####
Create a variable `adjusted_price` containing the adjusted price which is the price subtracted by the average price. *This is called **"centering" transformation** - a method commonly used in the preprocessing step before applying various machine learning algorithms.*

In [12]:
adjusted_price = wine['price'] - wine['price'].mean()
adjusted_price

0              NaN
1       -20.232932
2       -21.232932
3       -22.232932
4        29.767068
           ...
65494     9.767068
65495   -13.232932
65496   -15.232932
65497    -4.232932
65498   -25.232932
Name: price, Length: 65499, dtype: float64

#### Question 5: ####
What is the title of the wine that has the highest points-to-price ratio in the dataset?

In [14]:
wine['points_to_price'] = wine['points'] / wine['price']
best_value_wine = wine.loc[wine['points_to_price'].idxmax()]
best_value_wine

Unnamed: 0                                                           64590
country                                                                 US
description              There's a lot going on in this Merlot, which i...
designation                                                            NaN
points                                                                  86
price                                                                  4.0
province                                                        California
region_1                                                        California
region_2                                                  California Other
taster_name                                                            NaN
taster_twitter_handle                                                  NaN
title                                        Bandit NV Merlot (California)
variety                                                             Merlot
winery                                                              Bandit
points_to_price                                                       21.5
Name: 64590, dtype: object

#### Question 6: ####
Create a series `flavor_counts` that contains two values: the number of wines that has the word "tart" in the `description` column and the number of wines that has the word "berries" in the `description` column. The index of the Series should be "Tart" and "Berries" for the corresponding values.

In [18]:
# Look for the word "tart", not case sensitive, not a substring of another word.
# Same applies to the word "berries"
flavor_count = wine['description'].str.contains("tart", case=False, na=False)
flavor_count &= wine['description'].str.contains("berries", case=False, na=False)
flavor_count

0        False
1        False
2        False
3        False
4        False
         ...
65494    False
65495    False
65496    False
65497    False
65498    False
Name: description, Length: 65499, dtype: bool

#### Question 7: ####
Let's convert the points into simple star ratings. A score of 90 or higher counts as 3 stars, a score of at least 80 but less than 90 is 2 stars. Any other score is 1 star.

Also, any wines from France should automatically get 3 stars, regardless of points.

Add this new column `star_ratings` to the dataframe with the number of stars for each wine in the dataset.

In [25]:
wine['star_rating'] = 1
wine.loc[wine['points'] >= 90, 'star_rating'] = 3
wine.loc[(wine['points'] >= 80) & (wine['points'] < 90), 'star_rating'] = 2
wine.loc[wine['country'] == 'France', 'star_rating'] = 3

wine['star_rating'].value_counts()

star_rating
2    34221
3    31278
Name: count, dtype: int64

#### Question 8: ####
Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

In [29]:
reviewers = wine['taster_twitter_handle']
reviewer_counts = reviewers.value_counts()
reviewer_counts

taster_twitter_handle
@vossroger          13045
@wineschach          7752
@kerinokeefe         5313
@paulgwine           4851
@vboone              4696
@mattkettmann        3035
@JoeCz               2605
@wawinereport        2358
@gordone_cellars     2032
@AnneInVino          1769
@laurbuzz             938
@suskostrzewa         593
@worldwineguys        465
@bkfiona               11
@winewchristina         4
Name: count, dtype: int64

#### Question 9: ####
What combination of countries and varieties are most common? Create a Series whose index is a MultiIndexof {country, variety} pairs. For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. Sort the values in the Series in descending order based on wine count.

In [36]:
common_varieties = wine.groupby(['country', 'variety']).size()
common_varieties.sort_values(ascending=False)

country    variety
US         Pinot Noir                  4918
           Cabernet Sauvignon          3649
           Chardonnay                  3412
France     Bordeaux-style Red Blend    2380
Italy      Red Blend                   1870
                                       ...
Romania    Rosé                           1
US         Ugni Blanc                     1
           Touriga                        1
           Torrontés                      1
Argentina  Merlot-Cabernet Franc          1
Length: 1304, dtype: int64

#### Question 10 #####
Create a Series whose index is reviewers and whose values is the average score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [ ]:
reviewer_avgscores = wine.groupby('taster_name')['points'].mean()
reviewer_avgscores.sort_values(ascending=False)

taster_name
Anne Krebiehl MW      90.587903
Matt Kettmann         90.021087
Christina Pickard     89.500000
Virginie Boone        89.229557
Paul Gregutt          89.095032
Mike DeSimone         89.030303
Kerin O’Keefe         88.827969
Roger Voss            88.678957
Sean P. Sullivan      88.666243
Jim Gordon            88.604331
Joe Czerwinski        88.519770
Anna Lee C. Iijima    88.380506
Jeff Jenssen          88.273504
Lauren Buzzeo         87.831557
Fiona Adams           87.090909
Michael Schachner     86.904541
Carrie Dykes          86.644444
Susan Kostrzewa       86.408094
Alexander Peartree    86.014286
Name: points, dtype: float64